.home{
    min-height: 490vh;
}

/* Item 1 */
.item1{
    position: relative;
    margin-bottom: -5px;
}

.item1 h2{
    position: absolute;
    bottom: 50px;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 350px;
    letter-spacing: 0.2rem;
    text-align: left;
    font-weight: 800;
}

.item1 div{
    display: flex;
    justify-content: center;
}

.item1 img{
    width: 100%;
    height: 800px;
}

/* Item 2 */
.item2{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    background-image: url(./images/background.jpg);
    background-size: 100% 100%;
    padding: 25px 0;
}

.item2 h1{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.item2 p{
    text-align: justify;
    margin: 0 20px 20px 20px;
    font-size: 20px;
}

.vision, .mission{
    width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 1px 1px 1px 3px black;
    background-color: rgba(255, 255, 255, 0.7);
}

.vision, .mission i{
    align-items: center;
    margin: 10px;
}

.mission, .vision i{
    align-items: center;
    margin: 10px;
}

/* Item 3 */
.item3{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    clear: both;
    background-color: rgb(182, 235, 190);
}

.item3 h2{
    text-align: center;
    font-size: 40px;
}

.item3 .course{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    box-sizing: content-box;
}

.course .course_info{
    width: 500px;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
}

.course_info p{
    font-size: 22px;
    text-align: justify;
}

.course_info button{
    width: 200px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    background-color: #006eef;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 0 #013a7b;
    transition: .4s;
    cursor: pointer;
}

.course_info button:active{
    box-shadow: none;
    transform: translateY(8px);
}

.course .course_img{
    width: fit-content;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.course_img img{
    width: 300px;
    height: auto;
    padding: 10px;
}


/* Item 4 */
.item4{
    width: 100%;
    background-color: #dbfff4;
    clear: both;
    padding-top: 40px;
    padding-bottom: 50px;
}

.item4 h2{
    text-align: center;
    font-size: 40px;
}

.item4 .job-op{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.item4 .intro{
    width: 500px;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
}

.intro p{
    font-size: 22px;
    text-align: justify;
}

.intro .move-jobs{
    width: 200px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    background-color: #F23D97;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 0 #8C2E6E;
    transition: .4s;
    cursor: pointer;
}

.intro .move-jobs:active{
    box-shadow: none;
    transform: translateY(8px);
}

.item4 .animation-img{
    width: fit-content;
    margin-bottom: 30px;
}

.animation-img img{
    width: 600px;
    height: auto;
}

/* Item 5 */
.item5{
    width: 100%;
    clear: both;
    padding-top: 40px;
}

.item5 h2{
    text-align: center;
    font-size: 40px;
}

.member{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background: white;
}
/* make animation */

/* card in newproduct */
.person{
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(218, 219, 219);
    border-radius: 10px;
    padding: 3px;
}

.person:hover{
    padding: 0px;
    border-radius: 10px;
    transition: 0.2s;
    border: 4px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.person img{
    border-radius: 10px;
    margin-top: 10px;
}

.pri-info{
    text-align: center;
    margin-bottom: 10px;
}

.pri-info p{
    font-size: 18px;
    color: rgb(6, 6, 6);
}

.person button{
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    
}

.learn-more{
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding:10px;
}

.learn-more:hover{
    transition: 0.5s;
    background: black;
    color: white;
    border-radius: 10px;
}

/* button  */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* Item 6 */
.item6{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    /* background-color: #2b68bf; */
    /* color: white; */
}

.item6 h2{
    text-align: center;
    font-size: 40px;
}

.item6 .content{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.item6 .pic{
    position: relative;
}

.item6 h3{
    position: absolute;
    top: 200px;
    left: 25px;
    font-size: 2.45rem;
    letter-spacing: 0.045em;
    color: white;
}

.item6 .reason{
    width: 450px;
    margin-bottom: 10px;
}

.item6 .word{
    text-align: center;
    font-size: 1.4rem;
}

.reason img{
    width: 450px;
    height: 300px;
    border-radius: 15px;
}
/* Item 7 */
.item7{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: rgb(160, 226, 255);
}

.item7 span{
    text-align: center;
    display: block;
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #232c7a;
}

.item7 .title{
    height: 1.875rem;
    width: 1.875rem;
    margin: 0rem;
    /* color: #ffd336; */
    color: #2b68bf;
    top: -0.475rem;
    left: -0.3875rem;
    transform: translate(-10%, -80%) rotate(20deg);
}

.item7 .quote{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: content-box;
    align-items: stretch;
    max-width: 100%;
    overflow-x: auto;
}

.item7 .comment{
    width: 26rem;
    max-width: 75vw;
    /* height: 400px; */
    box-sizing: content-box;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #2681ea;
    color: white;
    position: relative;
}

.item7 .comment:hover {
    cursor: pointer;
    transform: translateX(5px);
}

.item7 .comment::after{
    position: absolute;
    content: "‘‘";
    top: 0;
    left: 0.375rem;
    color: rgba(158,225,255,0.5);
    font-size: 4.5rem;
    line-height: 1;
    text-align: left;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.1875rem;
}

.comment .message{
    font-size: 1.5rem;
    line-height: 1.6875rem;
    text-align: left;
    margin-bottom: 0.75rem;
    letter-spacing: 0.023125rem;
    font-weight: 500;
}

.comment .author{
    box-sizing: content-box;
    /* display: flex; */
    flex-direction: row;
    align-items: stretch;
    font-size: 1.5rem;
    line-height: 1.4375rem;
    font-weight: 700;
    text-align: right;
    letter-spacing: 0.01875rem;
    margin: 0;
    margin-bottom: 0rem;
}